<section>
    <h1 class="titulo">Sobre mi</h1>
      <div class="contenedor"><!--abro contenedor sobre mi-->
     
        <div class="contenedor-img-foto">
             <img src="../../assets/imagenes/yop.png">
        </div>
      <div class="texto-sobremi">
         <p id="text_escrito">Si hay algo que me caracteriza es que me involucro al 100% en todo lo que hago, pongo toda la energía que me aporta trabajar de aquello que tanto me entusiasma. Sin duda, me siento muy afortunado de haber encontrado lo que me apasiona y de hacer de ello un labor.</p>
      </div> 
        
      
      </div><!--cierro contenedor sobre mi-->
</section>
