section{
    width: 100%;
    height: 90%;
    position: relative;
    overflow: hidden;
    background: #fff;
}

section .contenedor{
  display: flex;
  width: 100%;
  margin: auto;
  height: 650px;
  align-items: center;
  justify-content: space-evenly;
  
}

.titulo{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
    color:coral;
}

.texto-sobremi{
    width: 60%;
    color:slategray;
    position: relative;
    bottom:60px;
    
}

.texto-sobremi p{
    font-size: 35px;
    text-align: center;
    font-weight: 400;
   
}
.contenedor .contenedor-img-foto img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 50px;
}
 .contenedor-img-foto{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    position: relative;
    bottom: 60px;
    box-shadow: 1px 0px 16px #000;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    
}

/*------MODAL SOBRE MI--------*/
.form{
    background-color: rgb(255, 255, 255);
    margin-bottom: 200px;
    width: 100%;
    max-width: 700px;
    max-height: 550px;
    padding: 4em 3em;
    border-radius: 10px;
    text-align: center;
    margin: auto;
  
  }
  .textSobremi{
     width: 100%;
     max-width: 600px;
     max-height: 170px;
     font-size: 1rem;
     padding: 8px;
     border-radius: 10px;
     border: 2px solid rgba(134, 143, 156, 0.801);
     outline: none;
     
  }
  .textSobremi:focus{
      border-color: dodgerblue ;
      box-shadow:  0 0 2px 0 dodgerblue;
    
  }

  .labelDescrip{
    color:#110b0b9d;
    display:flex;
    width: 0%;
    justify-content:baseline;
    margin-left: 5px;
    margin-bottom: 3px;
  }

  .labelimg{
    color:#110b0b9d;
    position: absolute;
    left: 0;
    bottom: 50px;
    
  }
 
  .form_title{
       font-size: 2rem;
       margin-bottom: 3rem;

  }
  
  .form_container{
      margin-top: 4em;
      display:grid;
  }
  .formGrup{
      display: flex;
  
  }

  .form_submit{
      background: rgb(63,94,251);
      color: #fff;
      font-weight: 300;
      font-size: 1rem;
      padding: .8em 0;
      width: 100%;
      display: flex;
      margin-top: 14px;
      justify-content: center;
      border: none;
      border-radius: .5em;
  }
  .form_submit:hover{
      background: coral;
      transition: 200ms;
      cursor: pointer;
  }
   .inputimg{
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      width: 100%;
      height: 100%;
      opacity: 0;
   }
   .divbtnimg{
    position: relative;
    background: rgb(63,94,251);
    color: #fff;
    padding: .8em 0 ;
    border: none;
    border-radius: .5em;
   }
   .divbtnimg:hover{
    background: coral;
    transition: 200ms;
    cursor: pointer;
   }
   
  .modal{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color:#111111bd;
    display: flex;
}

.iconSobremi{
    padding: 10px;
    display: flex;
    justify-content: center;
}

#iconedit{
    cursor: pointer; 
    font-size: 6vh;
    color: rgba(0, 0, 0, 0.623);
}
#iconedit:hover{
    color: rgb(63,94,251);
    transform: 200ms;
}

.error{
    color:red;
    font-size: 12px;
}

.btnClose{
    position: relative;
    bottom: 75px;
}

#iconClose{
    position: absolute;
    color: rgb(63,94,251);
    font-size: 45px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
   
}
#iconClose:hover{
    color:coral;
}
@media screen and (max-width:900px) {
        section .contenedor{
           flex-direction: column;
           justify-content:space-evenly;
           align-items: center;
           background-position: center;   
        }
        .texto-sobremi{
             width: 95%;
             text-align: center; 
             margin-top: -8px;     
        }
        .contenedor-img-foto{
            width: 250px;
            height: 250px;
            margin-top: -100px;
        }
        .contenedor .contenedor-img-foto img{
           display: block;
        }
        .texto-sobremi p{
            font-size: 150%;
             margin-top: -100px;
        }
      
    }     
    @media screen and (max-width:500px){
        .contenedor-img-foto{
            width: 200px;
            height: 200px;
            margin-top: -10px;
        }
        .texto-sobremi p{
            font-size: 20px;
            width: 95%;
            margin: auto;
            margin-top: -50px;
        }
        .titulo{
            font-size: 25px;
            text-align: center;
            margin-bottom: 30px;
            margin-top: 50px;
            color:coral;
        }
        
    }