<section>
  <h1 class="titulo">Sobre mi</h1>
  <div class="linea"> <h1 class="lineaAdentro"></h1></div>
  <div class="contenedor">
    <div class="contenedor-img-foto">
      <img src="../../assets/imagenes/yop.png">
    </div>
    <div class="texto-sobremi">
      <p id="text_escrito">Hola mi Nombre es Marcos Aguero, desarrollador fullStack, me encanta la tecnologia, por la
        cual elegi esta profesion que me apasiona.
        Actualmente estoy desarrollando para ICBC como Frontend, agrego ademas que sigo formandome como Analista de
        Sistemas.
      </p>
    </div>
  </div>
</section>