header{
    width: 100%;
    height: 950px;
    position: relative;
    overflow: hidden;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    border: solid 1px rgb(122, 7, 7);
    
}


header .contenedor{
    display: flex;
    width: 90%;
    margin: auto;
    height: 85%;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.contenedor-textos{
    width: 40%;
    color:#fff;
      
}

.contenedor-textos h1{
    font-size: 85px;
    text-align: center;
    font-weight: 600;
}
.contenedor-textos h2{
    color:coral;
    font-size:50px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 8rem;
  
}

header .contenedor img{
    width:500px;
    position: relative;
    bottom: 6rem;
    
}

[data-animation='fade']{
    opacity: 0;
    transform: translate(100%);
    transition: .6s ease-in .3s;

    --opacity:1;
    --transform: translate(0);
}

.unset{
    opacity: var(--opacity);
    transform: var(--transform);
}

#iconedit{
    cursor: pointer;
     position: absolute; 
     margin-left: 12px;
     margin-top: 28px;
     color: rgba(0, 0, 0, 0.623);
     
}
#iconedit:hover{
    color: #fff;
    transform: 200ms;
}

/*Responsive 800PX*/
@media screen and (max-width:1050px) {
    header .contenedor{
        flex-direction: column;
        justify-content:space-evenly;
        
    }
    .contenedor-textos{
        width: 100%;
        text-align: center;
    }
    header .contenedor img{
        width: 350px;
        
    }
}

@media  screen and (max-width:400px) {
    .btnClose{
        position: absolute;
        display: flex;
        justify-content:right;
        width:90%;
        bottom: 415px;
        padding-right: 10px;
    }
    #iconClose{
        display:block;
        color: rgb(63,94,251);
        font-size: 45px;
        cursor: pointer;
    }
}

/*Responsive 400px*/
@media screen and (max-width:450px) {
    header .contenedor{
        width: 95%;
    }
    .contenedor-textos h1{
      font-size: 35px;
    }

    .contenedor-textos h2{
        font-size: 23px;
    }
    header .contenedor img{
        width: 300px;
        
    }
   
}
/*Responsive 350px*/
@media screen and (max-width:350px) {
    header .contenedor{
        width: 40%;
    }
    header .contenedor img{
        width: 250px;
        
    }
    .form_title{
        font-size: 1.8rem;
    }
   
   
}

@media  screen and (max-width:400px){
    .btnClose{
        position: absolute;
        display: flex;
        justify-content:right;
        width:90%;
        bottom: 415px;
        padding-right: 16px;
    }
    #iconClose{
        display:block;
        color: rgb(63,94,251);
        font-size: 45px;
        cursor: pointer;
    }
}



