<header>

  <input type="checkbox" id="check">
  <label for="check"><img src="../../assets/imagenes/border-width.svg" class="icon-menu"></label>

  <div class="menu">
    <ul>
      <li><a href="https://www.linkedin.com/in/marcos-aguero-frontend-developer/">
          <img src="../../assets/imagenes/LinkedIn_logo_initials.png" class="icon-link">
        </a></li>
      <li><a href="https://github.com/Mark1811/">
          <img src="../../assets/imagenes/logotipo-de-github.png" class="icon-link">
        </a></li>
    </ul>
  </div>
  <div class="contenedor">

    <div class="contenedor-textos">
      <h1>Marcos Aguero</h1>
      <h2>FullStack</h2>
    </div>

    <div class="contenedor-img">
      <img src="../../assets/imagenes/tec-human.svg">
    </div>

  </div>
</header>