
   .icon-link{
    width: 70px;
    height: auto;
    border-radius: 50px;
   }
   .icon-link:hover{
    border: solid 2px rgb(248, 246, 246);
   }

   .respon{
       display: none;
       width: 90px;
       border-radius: 100px;
       background: none;
       border: 2px solid rgb(255, 80, 173);
       padding: 10px;
       color:rgb(17, 153, 207); 
       
   }
   #check{
       display: none;
   }
   
   .icon-menu{
       display: none;
   
   }
   #check:checked ~ .menu{
       height: 280px;
      
   }
   
   .menu{
    width: 20%;
    position: absolute;
    bottom: 40%;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    overflow: hidden;
   }
  
   a{
    
    padding-left: 30px;
   }
  
   @media screen and (max-width:1050px) {
    .menu{
        width: 25%;
        position: absolute;
        bottom: 65%;
        margin-left: 38%;
        display: flex;
        justify-content: center;
        
       }
    
}


@media screen and (max-width:685px) {
    .menu{
        width: 60%;
        position: absolute;
        bottom: 58%;
        display: flex;
        right: 50px;
        justify-content: center;
        justify-content:flex-start;
       
       }
    
}

@media screen and (max-width:450px) {
    .menu{
        bottom: 70%;
       }

       .icon-link{
        width: 50px;
        height: auto;
        border-radius: 50px;
       }
    
}
  
   @media screen and (max-width:300px) {
       .icon-menu{
           margin-right: 15px;
           margin-top: 15px;
          
       }

       
   }