<h1 class="titulo">Educación</h1>
<section>
  <ul >
    <section class="educa">
      <ul class="listas">
        <img src="../../assets/imagenes/unnamed.jpg"  class="imgedu">
        <li>
          <div class="cajali">
            <h2>{{textEducacion.titulo}}</h2>
            <h3>{{textEducacion.subtitulo}}</h3>
            <time>{{textEducacion.fecha}}</time>
          </div>
        </li>
      </ul>
    </section>
  </ul>

  <ul >
    <section class="educa">
      <ul class="listas">
        <img src="../../assets/imagenes/channels4_profile.jpg"  class="imgedu">
        <li>
          <div class="cajali">
            <h2>{{textEducacion.titulo2}}</h2>
            <h3>{{textEducacion.subtitulo2}}</h3>
            <time>{{textEducacion.fecha2}}</time>
          </div>
        </li>
      </ul>
    </section>
  </ul>
</section>