section{
    position: relative;
}

.titulo{
    font-size: 60px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
    color:coral;
   
}


.educa{

    height: 300px;
    padding-left: 150px;
    padding-right: 1px;
    margin: 0px 40px 30px 40px;
    background-image: radial-gradient( circle farthest-corner at -4.5% 34.3%,  rgba(13,20,174,1) 0%, rgba(243,165,140,1) 90% );
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    border-radius: 20px;
    box-shadow: 1px 0px 8px rgb(11, 14, 185);

}

.listas{
    
    display: flex;
    list-style: none;
    align-items:center;
    
}

.listas > li{
    font-size: 22px;
}

.imgedu{
    align-items: center;
    border-radius: 20px;
    width: 115px; 
   
}

.cajali{
    margin-left: 40px;
    margin-top: 0rem;
    color:rgb(255, 255, 255);
        
}

/*-------------Responsive------------------------*/
@media screen and (max-width:700px){

    .educa{
        padding: 0;
        display: flex;
        justify-content: center;
        text-align: center;
        
    }
    
    .cajali{
        margin-left: 20px;
        margin-top: 1rem;
        color:rgb(255, 255, 255);
            
    }
    section .listas{
        flex-direction: column;
        justify-content: center;
        text-align: center;
       
    }
    .cajaimg{
        align-content: center;
        justify-content: center;
    }
    .cajaimg img{
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width:500px) {
    .cajali h2{
        font-size: 18px;
    }
    .cajali h3{
        font-size: 15px;
    }
    .cajali time{
        font-size: 12px;
    }
}

@media screen and (max-width:400px){
    .cajaimg img{
        width: 80px;
        height: 80px;
    }
    .imgedu{
        width: 80px;
        height: 80px;
    }
    .titulo{
        font-size: 25px;
        text-align: center;
        margin-bottom: 30px;
        color:coral;
    }

    .cajali h2{
        font-size: 18px;
    }
    .cajali h3{
        font-size: 15px;
    }
    .cajali time{
        font-size: 12px;
    }
}
