<h1 class="titulo">Educación</h1>

<section>
  <ul >
    <section class="educa">
      <ul class="listas">
        <img src="../../assets/imagenes/unnamed.jpg"  class="imgedu">
        <li>
          <div class="cajali">
            <h2>UNPAZ - Universidad de Jose C Paz</h2>
            <h3>Analista de Sistemas</h3>
            <time>inicio: 04-03-2019  fin: Actualidad</time>
          </div>
        </li>
      </ul>
    </section>
  </ul>

  <ul >
    <section class="educa">
      <ul class="listas">
        <img src="../../assets/imagenes/channels4_profile.jpg"  class="imgedu">
        <li>
          <div class="cajali">
            <h2>Argentina Programa</h2>
            <h3>Desarrollador web jr FullStack</h3>
            <time>2022</time>
          </div>
        </li>
      </ul>
    </section>
  </ul>
</section>