
.titulo{
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
    color:coral;
}

.pro{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    justify-content: space-around;

}

.caja-de-galeria{
    display: flex;  
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    height: 320px;
    
}

.caja-img{
    width: 30%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    border-radius: 6px;  
 
    transition: all 300ms;
}

.caja-de-galeria .dentroimg{
    
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-out;
    background: hsla(230, 96%, 62%, 0.322);
    background: radial-gradient(circle, hsl(230, 96%, 62%) 0%, rgba(252,70,107,1) 100%);
    opacity: 0;
   
}
.dentroimg h3{
    color:#fff;
    font-weight: 500;    
}

p{  
    color: #fff;
    font-weight: 200;
}

.img-github{
    height: 40px;
    object-fit:contain;
    border-radius: 50px;
}
.img-github:hover{
    border: solid 1px #fff;
}

.caja-git{
    position: absolute;
    margin-top: 120px;
}
.caja-git:hover{
    cursor: pointer;
}

.caja-de-galeria .dentroimg:hover{
    opacity: 1;

}

.caja-img > img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    display: block;
 
}

@media screen and (max-width:800px){
    .caja-git{
        position: absolute;
        margin-top: 180px;
    }
}