<h1 class="titulo">Proyectos</h1>
<section class="pro">

      <div class="caja-de-galeria">

            <div class="caja-img">
                  <img src="https://i.ibb.co/6vcGsDK/proyecto.jpg">
                  <div class="dentroimg">
                        <h3>List Task
                              <p>Lista de tarea implementado en Angular</p>
                        </h3>
                        <div class="caja-git">
                              <a href="https://github.com/Mark1811/Lista-de-Tareas-Angular">
                                    <img class="img-github" src="https://i.ibb.co/ssXRygZ/logotipo-de-github.png">
                              </a>
                        </div>
                  </div>

            </div>

            <div class="caja-img">
                  <img src="https://i.ibb.co/ZT6pfzP/portfolio.jpg">
                  <div class="dentroimg">
                        <h3>Mi Portfolio
                              <p>Portfolio con back en spring boot y front con Angular</p>
                        </h3>
                        <div class="caja-git">
                              <a href="https://github.com/Mark1811">
                                    <img class="img-github" src="https://i.ibb.co/ssXRygZ/logotipo-de-github.png">
                              </a>
                        </div>
                  </div>
            </div>

      </div>
</section>