<h1 class="titulo">Skill</h1> 
<section class="Skill">
  
   <ul *ngFor="let sk of skill">    
       <div class="contenedor-skill"><!--Abro contenedor de section Skill-->
        
        <div class="caja-de-galeria">
           
           <div class="caja-img">
             <img [src]="sk.logo" alt="css">
             <div class="dentroimg"><h3>{{sk.lenguaje}}</h3></div>   
           </div>  
           
         </div>    
      
       </div><!--Cierro contenedor de section Skill-->
   </ul> 
</section>
