<section class="Skill">
           
    <h1 class="titulo">Skill</h1> 

<ul>    
    <div class="contenedor-skill"><!--Abro contenedor de section Skill-->
     
     <div class="caja-de-galeria">
        <div class="caja-img">
             <img src="img/html-5.png" alt="html"> 
             <div class="dentroimg"><h3>HTML</h3></div>   

        </div>
        
        <div class="caja-img">
          <img src="img/css-phoshop.png" alt="css">
          <div class="dentroimg"><h3>CSS</h3></div>   
        </div>

        <div class="caja-img">
          <img src="img/js.png" >
          <div class="dentroimg"><h3>JavaScript</h3></div>   
        </div>
        
        <div class="caja-img">
          <img src="img/rect.png" alt="react">
          <div class="dentroimg"><h3>React</h3></div>     
        </div>
        <div class="caja-img">
          <img src="img/node-js (2).png" alt="nodejs">
          <div class="dentroimg"><h3>NodeJs</h3></div>   
        </div>

        <div class="caja-img">
          <img src="img/boostrap.png" alt="boostrap">
          <div class="dentroimg"><h3>Boostrap</h3></div>   
        </div>
        
      </div>    
   
    </div><!--Cierro contenedor de section Skill-->
</ul> 
</section>
