<h1 class="titulo">Skill</h1>
<section class="Skill">
  <ul>
    <div class="contenedor-skill">
      <div class="caja-de-galeria">
        <div class="caja-img">
          <img src="../../assets/imagenes/java.png" alt="css">
          <div class="dentroimg">
            <h3>JAVA</h3>
          </div>
        </div>
      </div>
    </div>
  </ul>

  <ul>
    <div class="contenedor-skill">
      <div class="caja-de-galeria">
        <div class="caja-img">
          <img src="../../assets/imagenes/spring.png" alt="css">
          <div class="dentroimg">
            <h3>SPRING</h3>
          </div>
        </div>
      </div>
    </div>
  </ul>

  <ul>
    <div class="contenedor-skill">
      <div class="caja-de-galeria">
        <div class="caja-img">
          <img src="../../assets/imagenes/pngegg.png" alt="css">
          <div class="dentroimg">
            <h3>ANGULAR</h3>
          </div>
        </div>
      </div>
    </div>
  </ul>

  <ul>
    <div class="contenedor-skill">
      <div class="caja-de-galeria">
        <div class="caja-img">
          <img src="../../assets/imagenes/rect.png" alt="css">
          <div class="dentroimg">
            <h3>REACT</h3>
          </div>
        </div>
      </div>
    </div>
  </ul>

  <ul>
    <div class="contenedor-skill">
      <div class="caja-de-galeria">
        <div class="caja-img">
          <img src="../../assets/imagenes/js.png" alt="css">
          <div class="dentroimg">
            <h3>JAVASCRIPT</h3>
          </div>
        </div>
      </div>
    </div>
  </ul>

  <ul>
    <div class="contenedor-skill">
      <div class="caja-de-galeria">
        <div class="caja-img">
          <img src="../../assets/imagenes/html-5.png" alt="css">
          <div class="dentroimg">
            <h3>HTML</h3>
          </div>
        </div>
      </div>
    </div>
  </ul>


  <ul>
    <div class="contenedor-skill">
      <div class="caja-de-galeria">
        <div class="caja-img">
          <img src="../../assets/imagenes/sql-server.png" alt="css">
          <div class="dentroimg">
            <h3>SQlServer</h3>
          </div>
        </div>
      </div>
    </div>
  </ul>

  <ul>
    <div class="contenedor-skill">
      <div class="caja-de-galeria">
        <div class="caja-img">
          <img src="../../assets/imagenes/git.png" alt="css">
          <div class="dentroimg">
            <h3>GIT</h3>
          </div>
        </div>
      </div>
    </div>
  </ul>

</section>
