<h1 class="titulo">Experiencia</h1>
<section>
  <ul>
    <section class="expe">
      <ul class="listas">
        <img src="../../assets/imagenes/Logo-G_L_Color-1.png" class="imgexpe">
        <li>
          <div class="cajali">
            <h1>GylGroup</h1>
            <h3>Desarrollador FullStack para clientes externo, Ssn, Prisma, en cual trabajamos con tecnologia como Java, Spring para crear ApiRest, React-Angular en el Front</h3>
            <time>inicio: 27-05-2022  fin: 28-04-2023</time>
          </div>
        </li>
      </ul>
    </section>
  </ul>


  <ul>
    <section class="expe">
      <ul class="listas">
        <img src="../../assets/imagenes/logoicbc.png" class="imgexpe">
        <li>
          <div class="cajali">
            <h1>Icbc</h1>
            <h3>Desarrollador FullStack para clientes externo, Ssn, Prisma, en cual trabajamos con tecnologia como Java, Spring para crear ApiRest, React-Angular en el Front</h3>
            <time>inicio: 27-05-2022  fin: 28-04-2023</time>
          </div>
        </li>
      </ul>
    </section>
  </ul>
</section>