<h1 class="titulo">Experiencia</h1>
<section>
  <ul>
    <section class="expe">
      <ul class="listas">
        <img src="../../assets/imagenes/Logo-G_L_Color-1.png" class="imgexpe">
        <li>
          <div class="cajali">
            <h1>{{textExperiencia.titulo}}</h1>
            <h3>{{textExperiencia.descripcion}}</h3>
            <time>{{textExperiencia.fecha}}</time>
          </div>
        </li>
      </ul>
    </section>
  </ul>


  <ul>
    <section class="expe">
      <ul class="listas">
        <img src="../../assets/imagenes/logoicbc.png" class="imgexpe">
        <li>
          <div class="cajali">
            <h1>{{textExperiencia.titulo2}}</h1>
            <h3>{{textExperiencia.descripcion2}}</h3>
            <time>{{textExperiencia.fecha2}}</time>
          </div>
        </li>
      </ul>
    </section>
  </ul>
</section>