
.contenedor{
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}
.form{
    margin: 10px;
    background-color: rgb(251, 251, 251);
    width: 100%;
    height: 500px;
    max-width: 450px;
    padding: 3em 3em;
    border-radius: 10px;
    text-align: center;
}
.text1{
    width: 100%;
    background: none;
    --color:#777575;
    font-size: 1rem;
    border: none;
    outline:none;
    border-bottom: 1px solid var(--color);
    margin-top: 100px;
}
.btn{
    background: rgb(63,94,251);
    color: #fff;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    margin-top: 70px;
    width: 90%;
}
.btn:hover{
    background: coral;
    transition: 200ms;
    cursor: pointer;
}
p{
    position: absolute;
    margin-top: 70px;
    display: flex;
    align-items: center;
}

.alert{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
   
}
.alert >p{
    color: red;
}

.error{
    color:red;
    font-size: 12px;
    top: 180px;
}
.error2{
    color:red;
    font-size: 12px;
    top: 300px;
}

.botonGuarda{
    background: #706c6c;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
   }
.botonGuarda:hover{
       background: #706c6c;
 }
 .tirulo-bienvenida{
     display: flex;
     position: absolute;
     margin-top: 40px;
     color: rgb(74, 68, 68);
 }